:root {
  --color-system-main-rgb: 248, 248, 248;
  --color-system-block-rgb: 255, 255, 255;
  --color-btn-blue-rgb: 115, 103, 240;

  --color-text-white-rgb: 255, 255, 255;
  --color-text-base-rgb: 94, 88, 115;
  --color-text-sub-rgb: 110, 107, 123;
}