@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
@import "src/assets/scss/variables/color";
@import "src/assets/scss/mixins/font";

.about__title{
  justify-content: space-between;
  > div > button {
    margin: 0 5px;
  }
}

.flex_row{
  display: flex;
  flex-direction: row;
}

.flex_column{
  display: flex;
  flex-direction: column;
}

.about{
  padding: 2rem;
}

.about_info {
  > div:first-child {
    width: 70%
  }

  > div:last-child {
    width: 30%
  }
}

.about_info_block{
  margin-bottom: 40px;

  > div {
    margin: 5px 0;
  }
}

.about_statistic{
  margin-top: 80px;
  justify-content: space-between;
}

.block_statistic{
  max-width: 120px;
  @include setFont(14px, 17px, 400);
  color: rgb(var(--color-text-base-rgb));

  > h1 {
    @include setFont(42px, 68px, 400);
    margin-bottom: 0;
  }
}

.auth_block {
  text-align: end;

  > button {
    margin: 0 5px;
  }
}

.slider_row{
  justify-content: center;
  height: 50vh;
  margin-top: 80px;
}

.slide_img{
  width: 500px;
  height: 300px
}

.about_map{
  > img {
    width: 100%;
  }
}