<div class="flex_column">

    <div class="flex_row about__title">
        <h2>О проекте</h2>
        <div>
            <button class="btn btn-outline-primary">Войти</button>
            <button class="btn btn-primary">Авторизация</button>
        </div>
    </div>

    <div class="about_info flex_row">
        <div class="about_info__content flex_column">
            <div>
            </div>
            <div>Content</div>

        </div>

        <div class="about_info_slider flex_column">
            <div></div>
        </div>
    </div>

    <div class="about_map flex_row"></div>


</div>