<div class="flex_column profile" *ngIf="!!homeChildren">
    <div class="flex_column">
        <div class="profile__title">{{homeChildren.name}}</div>
    </div>

    <div class="flex_row profile__info_block card earnings-card">
        <div class="flex_column profile__img_block">
            <img src="favicon.ico" class="maim_img"/>
            <div class="sub_img_row">
                <img src="favicon.ico" />
                <img src="favicon.ico" />
                <img src="favicon.ico" />
                <img src="favicon.ico" />
                <img src="favicon.ico" />
            </div>
        </div>
        <div class="flex_column profile__content">
            <div class="profile__content__base_info flex_row">
                <div>
                    <div class="flex_row">
                        <div class="flex_column block_info mrgn_40">
                            <div class="block_info__title">Адрес</div>
                            <div class="block_info__content">{{homeChildren.city?.name}}, {{homeChildren.address}}</div>
                        </div>
                    </div>

                    <div class="flex_column block_info mrgn_40"
                         *ngIf="!!homeChildren.requisites?.length">
                        <div class="block_info__title">Реквизиты для пожертований</div>
                        <div class="block_info__content">
                            <div *ngFor="let requisite of homeChildren.requisites">

                            </div>
                    </div>
                    </div>

                        <div class="flex_column block_info mrgn_40">
                            <div class="block_info__title">Контакты</div>
                            <ng-container *ngFor="let contact of homeChildren.contacts">
                                <app-contact-person
                                        [name]="contact.name"
                                        [contact]="contact.contact"
                                        [role]="contact.role"
                                        [type]="contact.type">

                                </app-contact-person>
                            </ng-container>
                        </div>
                </div>
                <div>
                    <button class="donate_btn">Пожертовать</button>
                </div>
            </div>

<!--            <div class="profile__requisites flex_row">-->
<!--                <div class="block_info">-->
<!--                    <div class="requisites_block_title">Реквизиты</div>-->
<!--                    <div>-->
<!--                        УФК по Калужской области (ИАТЭ НИЯУ МИФИ л/сч 30376У90590)-->

<!--                        р/сч 03214643000000013700-->

<!--                        Банк: Отделение Калуга Банка России//УФК по Калужской области г. Калуга-->

<!--                        БИК 012908002-->

<!--                        КОРР.СЧЕТ 40102810045370000030-->

<!--                        КБК 00000000000000000130-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="block_info">-->
<!--                    <div class="requisites_block_title">Материально техническое оснащение</div>-->
<!--                    <div>-->
<!--                        <div>Компьютерный клас</div>-->
<!--                        <div>Компьютерный клас</div>-->
<!--                        <div>Компьютерный клас</div>-->
<!--                        <div>Компьютерный клас</div>-->
<!--                        <div>Компьютерный клас</div>-->
<!--                        <div>Компьютерный клас</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

    <div class="card earnings-card flex_column statistic_o">
        <div>Последнии события</div>
        <ng-container *ngFor="let interes of interesList">
            <div>
                <span>{{interes.date}}</span>
                <span> пользователь: <a [routerLink]="['/profile/' + interes.user.id]">{{interes.user.name}}</a> </span>
                <span> оценил событие <a [routerLink]="['/event/' + interes.eventId]">{{interes.eventName}}</a></span>
            </div>
        </ng-container>
    </div>

    <div class="card earnings-card flex_column statistic_o">
        <div>Инересные события</div>
        <ng-container *ngFor="let interes of getEventsGroup()">
            <div>
                <span>Cобытие <a [routerLink]="['/event/' + interes.eventId]">{{interes.eventName}}</a></span>
                <span> понравилось {{ interes.countUser }} человек</span>
            </div>
        </ng-container>
    </div>


</div>