<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div style="display: flex">
        <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
                <a ngbNavLink>Список</a>
                    <ng-template ngbNavContent>
                        <p *ngFor="let event of eventList">
                            <app-plate-event  [eventItem]="event"></app-plate-event>
        <!--                <app-plate-event></app-plate-event>-->
        <!--                <app-plate-event></app-plate-event>-->
                        </p>
                    </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Календарь</a>
                <ng-template ngbNavContent>
                    <p>
                        В разработке
                    </p>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Карта</a>
                <ng-template ngbNavContent>
                    <p>
                        В разработке
                    </p>
                </ng-template>
            </li>
        </ul>
        <button style="margin-left: auto"
                type="button"
                (click)="addEvents()"
                class="btn btn-primary waves-effect waves-float waves-light">
            <i data-feather='plus'></i> Добавить мероприятие
        </button>
        </div>
        <form [formGroup]="newEvent">
        <div class="card event-plate" *ngIf="addEvent">
        <!--<div style="width: 194px; align-self: center; height: 264px">-->
        <!--    -->
        <!--</div>-->
            <label class="load-image" style="" for="change-picture"><img src="assets/images/pages/camera.svg" alt="">
            <input
                    class="form-control"
                    type="file"
                    id="change-picture"
                    style="position: absolute; width: 194px; align-self: center; height: 264px; opacity: 0;"
                    accept="image/png, image/jpeg, image/jpg"
                    (change)="uploadImage($event)"
            />
            </label>

            <img style="width: 194px; align-self: center; height: 264px" [src]="avatarImage" alt="">
            <div class="desc-body">
                <div style="display: flex; align-items: center; grid-gap: 12px; flex-wrap: wrap">
                    <div class="data-event font-weight-bolder">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            formControlName="date"
                                            placeholder="yyyy-mm-dd"
                                            name="Basic Date Picker"
                                            ngbDatepicker
                                            #basicDP="ngbDatepicker"
                                    />
                                    <div class="input-group-append">
                                        <button
                                                class="btn btn-outline-secondary feather icon-calendar"
                                                (click)="basicDP.toggle()"
                                                type="button"
                                                rippleEffect
                                        ></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
<!--                    <div class="chips text-info">+</div>-->
                </div>
                <h1 class="title">
                    <input type="text"
                           formControlName="title"
                           class="form-control form-control-sm"></h1>
                <div class="description">
                    <textarea style="width: 100%"
                              formControlName="description"
                              class="form-control"
                              maxlength="255"
                              rows="1"></textarea>
                </div>
                <div style="display: flex; margin-top: 10px; grid-gap: 10px">
                    <button (click)="addEvent=false" class="btn-outline-danger button-action">Отменить</button>
                    <button style="margin-left: 10px" (click)="addNewEvent()" class="btn-primary button-action">Запустить</button>
                </div>
            </div>
            <div class="right-border">
                <div class="party-info">
                    <span>Участники</span>
                    <input type="text"
                           formControlName="participants"
                           class="form-control form-control-sm">
                </div>
                <div class="party-info">
                    <span>Волонтеры</span>
                    <input type="text" [formControlName]="'volunteers'" class="form-control form-control-sm">/
                    <input type="text" [formControlName]="'volunteersNeed'" class="form-control form-control-sm">
                </div>
                <div class="party-info">
                    <span>Собрано средств</span>
                    <input style="width: 72px" type="text" [formControlName]="'fundsAmount'" class="form-control form-control-sm">/
                    <input style="width: 72px" type="text" [formControlName]="'fundsAmountNeed'" class="form-control form-control-sm">
                </div>
                <div style="width: 100%; margin-bottom: auto">
                    <ngb-progressbar showValue="true" type="success" [value]="0"></ngb-progressbar>
                </div>
                <button class="avatar bg-light-secondary"><i data-feather='mail'></i>Чат</button>
                <div style="display: flex; grid-gap: 8px">
<!--                    <button class="btn-outline-secondary button-action">Перейти</button>-->
                </div>
            </div>
        </div>
        </form>

        <div [ngbNavOutlet]="nav" style="overflow: auto" class="mt-1"></div>
    </div>
</div>
