<div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
        <!-- Login v1 -->
        <div class="card mb-0">
            <div class="card-body">
                <a href="javascript:void(0);" class="brand-logo">
                    <img src="/assets/images/icons/logo.svg" alt="brand-logo" class="brand_logo_img"height="61" width="83"/>
                    <h2 class="brand-text text-primary ml-1 title_logo">Добро детям</h2>
                </a>

                <div class="auth_header">Авторизация</div>

                <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="login-email" class="form-label">Email</label>
                        <input
                                type="text"
                                formControlName="email"
                                class="form-control"
                                placeholder="john@example.com"
                                aria-describedby="login-email"
                                tabindex="1"
                                autofocus
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Обязательное поле</div>
                            <div *ngIf="f.email.errors.email">Не правильный формат email</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="login-password" class="form-label">Пароль</label>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input
                                    [type]="passwordTextType ? 'text' : 'password'"
                                    formControlName="password"
                                    class="form-control form-control-merge"
                                    tabindex="2"
                                    placeholder="·········"
                                    aria-describedby="login-password"
                                    [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                            />

                            <div class="input-group-append">
                <span class="input-group-text cursor-pointer">
                    <i class="feather font-small-4"
                       [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                       (click)="togglePasswordTextType()"
                    >

                    </i>
                </span>
                            </div>
                        </div>
                        <div
                                *ngIf="submitted && f.password.errors"
                                class="invalid-feedback"
                                [ngClass]="{ 'd-block': submitted && f.password.errors }"
                        >
                            <div *ngIf="f.password.errors.required">Обязательное поле</div>
                        </div>
                    </div>

                    <div *ngIf="isRequestFail"
                         class="invalid-feedback d-block request-err">
                        <div>Не верный логин или пароль</div>
                    </div>
                    <button class="btn btn-primary btn-block" tabindex="4" rippleEffect>Войти</button>
                </form>

                <p class="text-center mt-2">
                    <a routerLink="/authentication/create_account">
                        <span>&nbsp;Зарегистрироваться</span>
                    </a>
                </p>
                <div class="divider my-2">
                    <div class="divider-text">or</div>
                </div>
                <div class="auth-footer-btn d-flex justify-content-center">
                    <a href="https://www.gosuslugi.ru" target="_blank">
                        <img class="img-fluid"
                             style="width: 32px; height: 32px"
                             src="assets/images/pages/uslugi.png"
                             alt="Login V2"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
