<div class="content-wrapper container-xxl p-0">
  <div class="content-body">

    <div id="user-profile">

      <div class="row">
        <div class="col-12">
          <div class="card profile-header mb-2">
            <div class="logo_block">
              <img src="assets/images/logo/logo.svg" />
              <h1>Добро детям</h1>
            </div>

            <div class="position-relative">
              <div class="profile-img-container d-flex align-items-center">
                <div class="profile-img">
                  <img src="/assets/images/avatars/no-avatar.jpg" class="rounded img-fluid" alt="Avatar" />
                </div>
                <!-- profile title -->
                <div class="profile-title ml-3">
                  <h2 class="text-white">{{ data?.name }}</h2>
                </div>
              </div>
            </div>

            <div class="profile-header-nav">
              <!-- navbar -->
              <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                <button
                  class="btn btn-icon navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  (click)="toggleMenu = !toggleMenu"
                  rippleEffect
                >
                  <i data-feather="align-justify" class="font-medium-5"></i>
                </button>

                <!-- collapse  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="toggleMenu">
                  <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                    <ul class="nav nav-pills mb-0">
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold active" href="javascript:void(0)">
                          <span class="d-none d-md-block">Написать сообщение</span>
                          <i data-feather="rss" class="d-block d-md-none"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="javascript:void(0)">
                          <span class="d-none d-md-block">Обо мне</span>
                          <i data-feather="info" class="d-block d-md-none"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="javascript:void(0)">
                          <span class="d-none d-md-block">Фото</span>
                          <i data-feather="image" class="d-block d-md-none"></i>
                        </a>
                      </li>
                    </ul>

                    <a class="btn btn-primary"
                       rippleEffect
                       *ngIf="!!data?.id"
                       [routerLink]="['/profile/edit/' + data.id]">
                      <i data-feather="edit" class="d-block d-md-none"></i>
                      <span class="font-weight-bold d-none d-md-block">Редактировать</span>
                    </a>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <section id="profile-info">
        <div class="row">
          <!-- left profile info section -->
          <div class="col-lg-3 col-12 order-2 order-lg-1">
            <!-- about -->
            <div class="card">
              <div class="card-body">
                <h5 class="mb-75">Обо мне</h5>
                <p class="card-text">{{ data?.about }}</p>
                <div class="mt-2">
                  <h5 class="mb-75">Дата регистрации:</h5>
                  <p class="card-text">{{ data?.created_at }}</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Место проживания:</h5>
<!--                  <p class="card-text">{{ data?['lives'] }}</p>-->
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Email:</h5>
                  <p class="card-text">{{ data?.email }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-12 order-1 order-lg-2">

            <div class="card navigation_events">
              <ul ngbNav #eventTabs="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                  <a ngbNavLink>Предстоящие мероприятия</a>
                  <ng-template ngbNavContent>
                    <div class="card-body">Content 1</div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Завершенные мероприятия</a>
                  <ng-template ngbNavContent>
                    <div class="card-body">Content 2</div>
                  </ng-template>
                </li>
              </ul>
            </div>


            <div [ngbNavOutlet]="eventTabs" class="card mt-2"></div>
          </div>
          <!--/ center profile info section -->

          <!-- right profile info section -->
          <div class="col-lg-3 col-12 order-3">
            <!-- latest profile pictures -->
            <div class="card">
              <div class="card-body">
                <h5 class="mb-0">Вам понравились</h5>
                <div class="row">
                  <ul>
                    <ng-container *ngFor="let like of likes">
                      <li>
                        <a [routerLink]="['/event/' + like.eventId]">{{like.eventName}}</a>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ profile info section -->
    </div>
  </div>
</div>
