@import "src/assets/scss/mixins/import";
@import '@core/scss/base/pages/app-ecommerce.scss';

ul{
  flex-direction: row;
  background: rgb(var(--color-system-block-rgb));
  width: 18rem;
  border-radius: 6px;
  padding: 0 5px;
}