@import "src/assets/scss/mixins/import";
@import '@core/scss/base/pages/app-ecommerce.scss';

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.search {
  margin-bottom: 20px;
  width: 72%;
  height: 40px;
  border-radius: 6px;
  position: relative;

  > input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
    padding-left: 10px;
    outline: none;
    background: transparent;
  }

  > .search_icon {
    margin-left: 10px;
    @include svg-icon("/assets/images/icons/search.svg", 20px, 100%);
  }
}

.service_panel {
  margin-bottom: 15px;

  > button {
    @include setFont(12px, 14px, 500, normal, rgb(var(--color-text-white-rgb)));
    padding: 8px 19px;
    border: none;
    border-radius: 5px;
  }
}

.registry {
  width: 90%;
  > .student_row {
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;

    > :first-child{
      padding: 8px 30px;
    }

    > .service_btn_row {
      align-items: center;
      width: 20%;

      > button {
        border: none;
        background: transparent;
        color: rgb(var(--color-btn-blue-rgb));
      }
    }
  }

}

.student_row__logo {
  width: 42px;
  height: 42px;
}

.student_row__info {

  > :first-child{
    @include setFont(16px ,27px ,600);
    color: rgb(var(--color-text-base-rgb));
  }

  .birthday {
    @include setFont(14px, 21px, 400);
    color: rgb(var(--color-text-base-rgb));
  }

  .age{
    @include setFont(15px, 23px, 400);
    color: rgb(var(--color-text-sub-rgb));
    margin-left: 6px;
  }
}

.student_row__login {
  @include setFont(14px, 21px, 400);
  color: rgb(var(--color-text-base-rgb));
}

.student_row__email {
  @include setFont(14px, 21px, 400);
  color: rgb(var(--color-btn-blue-rgb));

}

.create_form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 90%;

  > div {
    margin: 0 5px;
  }
}

.create__service_btn{
  display: flex;
  flex-direction: row;
}

.student_row__base{
  text-align: center;
  width: 30rem;
}