
.event-plate {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

.title {
  margin: 24px 0 18px 0;
}
.data-event {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.chips {
  width: fit-content;
  padding: 4px 12px;
  border-radius: 25px;
  border: 1px solid;
}

.desc-body {
  margin: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-border {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 20px;
}

.btn-outline-danger {
  width: max-content;
}

.button-action {
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 22px;
}

.bg-light-secondary {
  display: flex;
  grid-gap: 5px;
  margin: 9px 0;
  align-items: center;
  border: none;
  border-radius: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.party-info {
  span:first-child {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    padding: 6px;
  }
  span:last-child {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
  }
}

.progress {
  border-radius: 0;
  .progress-bar {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }
}

.status {
  padding: 3px 11px;
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
