<div class="card ecommerce-card" *ngIf="eventItem">
    <div class="item-img">
        <a href="" style="position: relative">
            <ng-container [ngSwitch]="eventItem.event_status.id">
                <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="name1"></ng-container>
                <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="name2"></ng-container>
                <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="name3"></ng-container>
                <ng-container *ngSwitchCase="4" [ngTemplateOutlet]="name4"></ng-container>
                <ng-container *ngSwitchCase="5" [ngTemplateOutlet]="name5"></ng-container>
                <ng-container *ngSwitchCase="6" [ngTemplateOutlet]="name6"></ng-container>
            </ng-container>
            <img style="width: 194px; height: 264px" [src]="eventItem.image.name" [alt]="eventItem.image.name">
        </a>

    </div>
    <div class="card-body desc-body">
        <div style="display: flex; align-items: center; grid-gap: 12px; flex-wrap: wrap">
            <div class="data-event font-weight-bolder"><!--22 октября-->{{eventItem.date}}</div>
            <div *ngFor="let topic of eventItem.topic" class="chips text-info">{{topic.name}}</div>
        </div>
        <h1 class="title">{{eventItem.name}}</h1>
        <div class="description">
            <p>{{eventItem.description}}</p>
        </div>
    </div>
    <div class="item-options right-border">
        <div class="party-info">
            <span>Участники</span>
            <span>20</span>
        </div>
        <div class="party-info">
            <span>Волонтеры</span>
            <span>9/10</span>
        </div>
        <div class="party-info">
            <span>Собрано средств</span>
            <span>3500/7800₽</span>
        </div>
        <div style="width: 100%; margin-bottom: auto">
            <ngb-progressbar showValue="true" type="success" [value]="20"></ngb-progressbar>
        </div>
        <button class="avatar bg-light-secondary"><i data-feather='mail'></i>Чат</button>
        <div style="display: flex; grid-gap: 8px">
            <button class="btn-outline-danger button-action">Отменить участие</button>
            <button class="btn-outline-secondary button-action" [routerLink]="'event/' + eventItem.id">Перейти</button>
        </div>
    </div>
</div>



<ng-template #name1><div class="status bg-info bg-gradient-darken2">{{eventItem.event_status.name}}</div></ng-template>
<ng-template #name2><div class="status bg-gradient-success">{{eventItem.event_status.name}}</div></ng-template>
<ng-template #name3><div class="status bg-danger bg-gradient-lighten-2">{{eventItem.event_status.name}}</div></ng-template>
<ng-template #name4><div class="status bg-danger bg-gradient-lighten-2">{{eventItem.event_status.name}}</div></ng-template>
<ng-template #name5><div class="status bg-gradient-warning">{{eventItem.event_status.name}}</div></ng-template>
<ng-template #name6><div class="status bg-gradient-warning">{{eventItem.event_status.name}}</div></ng-template>
