<div class="card event-plate">
    <div class="status bg-gradient-warning">Перенесено</div>
    <img style="width: 194px; height: 264px" src="assets/images/pages/content-img-1.jpg" alt="">
    <div class="desc-body">
        <div style="display: flex; align-items: center; grid-gap: 12px; flex-wrap: wrap">
            <div class="data-event font-weight-bolder">22 октября</div>
            <div class="chips text-info">Спорт</div>
        </div>
        <h1 class="title">Чемпионат мира по футболу</h1>
        <div class="description">
            <p>Краткое описание:В своём стремлении повысить качество жизни, они забывают, что базовый вектор развития однозначно определяет каждого участника как способного принимать собственные....</p>
        </div>
    </div>
    <div class="right-border">
        <div class="party-info">
            <span>Участники</span>
            <span>20</span>
        </div>
        <div class="party-info">
            <span>Волонтеры</span>
            <span>9/10</span>
        </div>
        <div class="party-info">
            <span>Собрано средств</span>
            <span>3500/7800₽</span>
        </div>
        <div style="width: 100%; margin-bottom: auto">
            <ngb-progressbar showValue="true" type="success" [value]="20"></ngb-progressbar>
        </div>
        <button class="avatar bg-light-secondary"><i data-feather='mail'></i>Чат</button>
        <div style="display: flex; grid-gap: 8px">
            <button class="btn-outline-danger button-action">Отменить участие</button>
            <button class="btn-outline-secondary button-action">Перейти</button>
        </div>
    </div>
</div>
